//Author Jonathan Worth A00949372

//Global variables
$font_default : 'Montserrat','Franklin Gothic Medium', sans-serif;
$border_blue: rgb(12, 31, 116);
$white: #fff;
$light_opacity: 0.3;
$full_opacity: 1.0;

/* Greater than 1025px*/
@media screen and (min-width: 1025px){
    #top{
        margin: 0;
        padding: 0;
    }

    #top_header{
        margin-top: 5%;
    }

    #toolbar{
        opacity: $light_opacity;
        text-align: left;
        position:fixed;
        top: 0%;
        width: 100%;
        background-color: rgb(3, 5, 107);
        border-bottom: solid 2px $border_blue;
        transition: all 0.5s ease;
    }

    #toolbar:hover{
        padding: 10px 0;
        background-color: rgb(230, 230, 255);
        opacity: $full_opacity;
    }

    #toolbar a{
        padding: 1.5%;
        float:right;
    }

    #expand{
        background-color: $white;
        border: solid 2px rgb(88, 255, 97);
        width: 50px;
        height: auto;
        margin:0.5%;
        opacity: $light_opacity;
    }

    #expand:hover{
        opacity: $full_opacity;
    }

    #collapse{
        background-color: $white;
        border: solid 2px rgb(88, 255, 97);
        width: 50px;
        height: auto;
        margin:0.5%;
        opacity: 0.5;
    }

    #collapse:hover{
        opacity: 1.0;
    }


    #container{
        display: flex;
        flex-wrap: wrap;
        background-color: #e6f8ff;
        font-family: $font_default;
    }

    h1{
        color:#ffffff;
        text-align: center;
        margin: 1%;
    }

    h2{
        flex-grow: 1;
        transition: background-color 0.3s linear;
        background-color:rgb(62, 111, 185);
        color:#ffffff;
        padding: 15px 15px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        text-align: center;
        font-size: 1.2em;
        border:solid 2px $border_blue;
        width: 19%;
    }

    h2:hover{
        cursor: pointer;
        background-color:#9ec9ff;
    }

    h2:active{
        cursor: pointer;
    }

    h3, h4, h5, h6{
        color: #888;
    }

    #header h2{
        text-align: center;
        margin:20px 0 0 0;
    
    }

    #header h2:hover{
        background-color:rgb(62, 111, 185);
        cursor: auto;
    }



    #header{
        width:100%;
        overflow:auto;	
        padding-top:25px;
        background-color: #a0aeff;
    }

    #header a{
        text-align: center;
        margin:auto;
    }

    #header_classes{
    }



    #header_classes ul{
        list-style-type:none;
        float:right;
        margin:0px;
        
    }
    #header_classes li{
        float:left;
        background-color: #eee;
        border-radius: 2px;
        padding:5px;
        margin:5px;
        font-size: 1.5em;
    }

    #header_classes li:hover{
        background-color: rgb(210, 255, 238);
    }

    #header_links ul {
        list-style-type:none;
        float:left;
        margin:0px;
    }

    #header_links li{
        float:left;
        background-color: #eee;
        border-radius: 2px;
        padding:5px;
        margin:5px;
        font-size: 1.5em;
    }

    #header_links li:hover{
        background-color: rgb(210, 255, 238);
    }

    #navigation{
        width:100%;
        position:relative;
        padding:5px;		
    }

    #navigation  ul{
        text-align: center;
        background-color:rgb(28, 70, 196);		
        width:100%;
        padding:5px;
        list-style-type:none;	
        margin:0px;
        margin-top:3px;
    }

    #navigation ul li{
        display: inline;
        color: #fff;
        font-size: 1.5em;
        margin:10px;
        a{
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            background-color: rgb(24, 6, 104);
        }
    }

    li a{
        text-decoration: none;
    }

    #navigation  ul li ul{
        display: none;
    }

    #logo{
        max-height: 60px;
        margin: 5px;
        width: auto;
        float: left;
    }

    .contblock{
        width:100%;
        margin:10px;
        padding: 15px;
        display: none;
        background-color:#cce0ec;
    }


    #footer{
        width: 100%;
        text-align: right;
        background-color: #a0aeff;
    }

    #footer ul li{
        padding: 10px;
        display: inline;
        background-color: $white;   
    }
} //End Large Screen size

/* Printing  styles */
@media print { 

}