/*for quiz page*/

.contblock {
	display : none;
}

#quiz, #quizEnding {
	display : none;
}

#quizInformation {
	text-align : center;	
}

#footer {
width: 100%;
text-align: right;
background-color: #a0aeff;
height:100%;
}
#footer ul li {
margin-top:6px;
margin-bottom:-20px;
padding: 10px;
display: inline-block;
background-color: #fff;
}

/*reused from lecture revamp*/

#top {
  margin: 0;
  padding: 0;
}

#container {
  background-color: #e6f8ff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Franklin Gothic Medium", sans-serif;
}

h1 {
color: #ffffff;
text-shadow: 2px 2px 2px #44518f;
text-align: center;
margin: 1%;
padding-bottom:10px;
}

h2 {
  background-color: #3e6fb9;
  color: #ffffff;
  padding: 5px;
  border: solid 2px #4c64cf;
}

h3, h4, h5, h6 {
  color: #888;
}

#header h2 {
  text-align: center;
  margin: 20px 0 0 0;
}

#header h2:hover {
  background-color: #3e6fb9;
  cursor: auto;
}

#header {
  overflow-y:auto
  padding-top: 25px;
  background-color: #a0aeff;
}

#logo {
  max-height: 40px;
  width: auto;
}

.contblock {
  display: none;
  background-color: #eaf7ff;
}