/*for quiz page*/

.contblock {
	display : none;
}

#quiz, #quizEnding {
	display : none;
}

#quizInformation {
	text-align : center;	
}
	
#footer {
  background-color: #a0aeff;
  text-align : center;
}

/*reused from lecture revamp*/

#top {
  margin: 0;
  padding: 0;
}

#container {
  background-color: #e6f8ff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Franklin Gothic Medium", sans-serif;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin: 0;
}

h2 {
  background-color: #3e6fb9;
  color: #ffffff;
  padding: 5px;
  border: solid 2px #4c64cf;
}

h3, h4, h5, h6 {
  color: #888;
}

#header h2 {
  text-align: center;
  margin: 20px 0 0 0;
}

#header h2:hover {
  background-color: #3e6fb9;
  cursor: auto;
}

#header {
  overflow-y:auto
  padding-top: 25px;
  background-color: #a0aeff;
}

#logo {
  max-height: 40px;
  width: auto;
}

.contblock {
  display: none;
  background-color: #eaf7ff;
}