#top {
  margin: 0;
  padding: 0;
}

#container {
  background-color: #e6f8ff;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Franklin Gothic Medium", sans-serif;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin: 0;
}

h2 {
  background-color: #3e6fb9;
  color: #ffffff;
  padding: 5px;
  border: solid 2px #4c64cf;
}

h2:hover {
  cursor: pointer;
  background-color: #5d90ee;
}

h2:active {
  cursor: pointer;
}

h3, h4, h5, h6 {
  color: #888;
}

#header h2 {
  text-align: center;
  margin: 20px 0 0 0;
}

#header h2:hover {
  background-color: #3e6fb9;
  cursor: auto;
}

#header {
  overflow: auto;
  padding-top: 25px;
  background-color: #a0aeff;
}

#header a {
  text-align: center;
  margin: auto;
}

#header_classes {
  background-color: #ff48f0;
}

#header_classes ul {
  list-style-type: none;
  float: right;
  margin: 0px;
}

#header_classes li {
  float: left;
  background-color: #eee;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

#header_classes li:hover {
  background-color: #d2ffee;
}

#header_links ul {
  list-style-type: none;
  float: left;
  margin: 0px;
}

#header_links li {
  float: left;
  background-color: #eee;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5em;
}

#header_links li:hover {
  background-color: #d2ffee;
}

#navigation {
  position: relative;
  padding: 5px;
}

#navigation ul {
  text-align: center;
  background-color: #1c46c4;
  width: 100%;
  padding: 5px;
  list-style-type: none;
  margin: 0px;
  margin-top: 3px;
}

#navigation ul li {
  display: inline;
  color: #fff;
  font-size: 1.5em;
  margin: 10px;
}

#navigation ul li a {
  color: #fff;
  text-decoration: none;
}

#navigation ul li a:hover {
  background-color: #180668;
}

li a {
  text-decoration: none;
}

#navigation ul li ul {
  display: none;
}

#logo {
  max-height: 40px;
  width: auto;
}

.contblock {
  display: none;
  background-color: #eaf7ff;
}

#footer {
  background-color: #a0aeff;
}
