//Author Jonathan Worth A00949372

//Global variables
$font_default : 'Montserrat','Franklin Gothic Medium', sans-serif;
$border_blue: rgb(12, 31, 116);
$shadow_color: rgb(68, 81, 143);
$white: #fff;
$light_opacity: 0.5;
$full_opacity: 1.0;

/* Greater than 1025px*/
@media screen and (min-width: 500px){
    #top{
        margin: 0;
        padding: 0;
    }

    #top_header{
        margin-top: 9%;
    }

    #toolbar{
        opacity: $light_opacity;
        text-align: left;
        position:fixed;
        margin: 0;
        top: 0%;
        width: 100%;
        background-color: rgb(3, 5, 107);
        border-bottom: solid 2px $border_blue;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #toolbar:hover{
        padding: 10px 0;
        background-color: rgb(230, 230, 255);
        opacity: $full_opacity;
    }

    #expand{
        background-color: $white;
        width: 50px;
        height: auto;
        margin:0.5%;
        opacity: $light_opacity;
    }

    #expand:hover{
        opacity: $full_opacity;
    }

    #collapse{
        background-color: $white;
        width: 50px;
        height: auto;
        margin:0.5%;
        opacity: $light_opacity;
    }

    #collapse:hover{
        opacity: $full_opacity;
    }


    #container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        background-color: #c3e7f5;
        font-family: $font_default;
    }

    h1{
        color:#ffffff;
        text-shadow: 2px 2px 2px $shadow_color; 
        text-align: center;
        margin: 1%;
    }

    h2{
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
        background-color:rgb(62, 111, 185);
        color:#ffffff;
        padding: 15px 15px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        text-align: center;
        font-size: 1.2em;
        border:solid 2px $border_blue;
        width: 19%;
        -webkit-box-shadow: 4px 4px 3px $shadow_color;
                box-shadow: 4px 4px 3px $shadow_color;
        text-shadow: px 2px 1px $shadow_color; 
    }

    h2:hover{
        cursor: pointer;
        background-color:#9ec9ff;
    }

    h2:active{
        cursor: pointer;
    }

    h3, h4, h5, h6{
        color: rgb(7, 1, 36);    
        text-decoration: underline;
    }

    #header h2{
        text-align: center;
        margin:20px 0 0 0;
        
    
    }

    #header h2:hover{
        background-color:rgb(62, 111, 185);
        cursor: auto;
    }

    #header{
        width:100%;
        overflow:auto;	
        padding-top:25px;
        background-color: #a0aeff;
    }

    #header a{
        text-align: center;
        margin:auto;
    }

    #header_classes{
        text-align: right;
        margin:0px 5px;

        ul{
            margin:0 0 10px 0;
        }

        li{
            display: inline;    
            background-color: rgb(164, 171, 235);
            border-radius: 2px;
            font-size: 1.0em;
            margin: 3px;
            padding: 4px;
            border: 1px solid $border_blue;
        }

        li:hover{
            background-color: rgb(210, 255, 238);
        }
    }

    #header_buttons{
        ul {
            margin:15px 0;
            float:right;
        }

        li{
            display: inline;
            background-color: rgb(164, 171, 235);
            border-radius: 2px;
            padding:5px;
            margin:5px;
            font-size: 1.0em;
            border: 1px solid $border_blue;
        }
        li:hover{
                background-color: rgb(210, 255, 238);
        }
    }

    #navigation{
        width:100%;
        margin:0;
        background-color: rgb(28, 70, 196);	

        ul{
            text-align: center;
            background-color:rgb(28, 70, 196);		
            width:100%;
            padding:5px;
            list-style-type:none;	
            margin:0px;
            margin-top:3px;
        }

        ul li{
            display: inline;
            color: #fff;
            font-size: 1.5em;
            margin:10px;
            padding: 10px;
            a{
                color: #fff;
                text-decoration: none;
                border-radius: 3px;
                padding: 0px 10px;
            }
            a:hover {
                background-color: rgb(42, 204, 142);
                border-radius: 3px;
            }
        }
        ul li ul{
            display: none;
        }

        ul li ul{
            background-color: #677dfc;
            margin: 10px 0 10px 0;
        }

        ul li ul li{
            font-size: 0.8em;
            margin: 0;
            a{
                padding: 1px 5px;
                margin: 3   px;
                white-space: pre;
            }
        }
    }

    li a{
        text-decoration: none;
    }


    #logo{
        max-height: 55px;
        margin: 5px;
        width: auto;
        float: left;
    }

    .contblock{
        width:100%;
        margin:10px;
        padding: 15px;
        display: none;
        background-color:#eff8fd;
        border: 2px solid $border_blue;
        -webkit-box-shadow: 3px 3px 2px $shadow_color;
                box-shadow: 3px 3px 2px $shadow_color;
    }


    #footer{
        width: 100%;
        text-align: right;
        background-color: #a0aeff;
    }

    #footer ul li{
        padding: 10px;
        display: inline;
        background-color: $white;   
    }


    #nav_popup ul li a{
        background-color: $white;
        font-size: 0.5em;
    }

} //End Large Screen size

/* Printing  styles Empty, print all content without styling*/
@media print { 

}