@import "../css/reset.css";

@media screen and (min-width: 1920px) {

.logo {
    padding-right: 10px;
    padding-bottom: 10px;
}

.top-bar {
    height: 100px;
}

.top-bar-right {
    padding-right: 330px;
    padding-top: 33px;
}

.top-bar-left {
    padding-left: 360px;
    padding-top: 17px;
}

.button_site {
    background-color: #eee;
    border-style: solid;
    border-width: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px 20px;
}

.menu a:link, .menu a:visited {
    color: #0087ff;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 19px;
    margin: 0;
    display: inline;
}

.menu a:hover, .menu a:active {
    color: #d69c28;
    text-decoration: none;
    font-weight: bold;
}

.menu-text {
    font-size: 24px;
}

.footer-text {
    font-size: 20px;
}
    
.orbit {
        text-align: center;
    }

.rationale-container {
    margin: 0;  
    overflow: auto
}

.rationale-thumb {
    float: left
}

.rationale-thumb img {
    display: block;
    border: 1px solid #000;
    padding: 5px;
    margin-top: 20px;
}

.rationale-content {
    margin-left: 210px
}

.rationale-title {
    font-weight: bold;
    font-size: 150%;
    margin-top: 20px;
}

.links_to_prototype {
    text-align: center;
}
}

@media screen and (max-width: 550px) {
    .menu a:link {
        font-size: 8px;
    }
    
    .orbit {
        display: none;
    }
}